body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
#header-banner{
  
  background: linear-gradient( transparent, rgb(0, 0, 0)),
      url(images/bg.jpg);
  height:650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity:1
}
.header-text{
    text-align: center;
    width:830px;
    color:white;
    
}
.header-text h1{
    margin:0;
    font-size: 60px;
    font-weight: bold;
    font-family: Poppins;
}
.header-button{
    border:none;
    width:140px;
    height:40px;
    background-color: #F52887;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    margin-top:20px
}

.money{
    width:135px;
    height:123px;
    background-color:#FAFAFA;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#707070;
    border-radius: 5px;
    margin-top:20px;
}
.amount{
    width:830px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#donate-amount{
    text-align: center;
    margin-top:60px
}
.amount-part{
    display: flex;
    justify-content: center;
}
.donate-text{
    width:830px
}
.donate-text-center{
    display: flex;
    justify-content: center;
}
.amount-button-part{
    margin:50px 0;

}
.money:hover{
    color:#F52887;
    border: #F52887;
    background-color: #f528881d;
}
.select{
    color:#F52887;
    border: #F52887;
    background-color: #f528881d;
}
.card{
    width:340px;
    height:350px;
    margin-right:15px;
    display: flex;
   justify-content: center;
   align-items: center;
    padding:0 20px;
    text-align: justify;
  
    
}
.plan-card{
    width:1120px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.food{
    background-color: #4f9da62a;
}
.shelter{
    background-color: #ff595924;
}
.education{
    background-color:#ebc86875;
}
.donate-plan-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.donate-plan-text{
    width:820px;
    text-align: center;
}
.donate-plan-text-area{
    display: flex;
    justify-content: center;
}
#donate-plan{
    margin:50px 0;
}
.getway{
    width:1000px;
    display: flex;
}
.bank{
    width:300px;
    height:300px;
    background-color: #707070b6;
    margin:10px;
    text-align:center;
    padding-top:15px;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;

}
.bank img{
    width:200px;
    height:200px
}
.payment-button{
    border:none;
    width:150px;
    height:50px;
    color:white;
    background-color: #F52887;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}
.payment-getway{
    display: flex;
    justify-content: center;
}
#payment-section{
    margin:40px 0;
}
.update-text{
    width:700px;
    text-align: center;
}
.update-text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px
}
.input-box{
    background-color:#FFF4D6;
    width:800px;
    height:180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-area input{
    border:none;
    outline: none;
    flex:1;
    padding:5px 20px
    
}
.form-area button{
    border:none;
    outline:none;
    background-color:#F52887;
    color:white;
    padding:5px 20px;
    font-weight: bold;
}
.form-area {
    background-color:white;
    height:40px;
    width:350px;
    display:flex;
    border-radius:40px;
}
.input-container{
    margin-bottom:60px
}
#footer{
    background-color: #0B0D17;
    height:160px;
}
.footer-text{
    width:150px;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    margin:0;
    font-weight: bold;
}
.title{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}